@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.root-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.main-content {
  flex-grow: 1;
}

.main-container {

  .cover-image {
    max-width: 100%;
    max-height: calc(100vh - 100px);
  }

  padding-top: 2em;

  color: rgba(0, 0, 0, 0.7);

  .login-card {
    width: 30vw;

    margin-top: 6em;

    .card-header {
      background-image: url(bg-01.jpg);
      min-height: 179px;
      opacity: 0.6;
      text-transform: uppercase;
    }

    .row {
      margin-bottom: 0.5em;

      input[type='submit'] {
        width: 12em;
        margin-top: 2em;
        text-transform: uppercase;
      }
    }
  }

  .fa {
    color: #6d9ed1;
  }

  h1 {
    margin-bottom: 1em;
  }

  .flights-search-form {
    label {
      margin: 0 0.25em 0 1em;
    }

    button {
      margin-left: 1em;
    }

    .row {
      margin-bottom: 0.5em;
    }
  }

  .eac-item {
    text-align: left;
  }

  .available-flights {
    td, th {
      text-align: left;
    }

    .flight-select-radio {
      text-align: right;
    }

    .btn {
      color: white;
    }
  }

  .passenger-details, .payment-details, .preview-trip {
    text-align: left;
  }

  .preview-trip {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}