@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

.flash-message {
  padding: 2em;
}

.trip-details {
  width: 60vw;
  opacity: 0.8;
  //margin-top: 3em;

  .btn-info {
    width: 10em;
    text-transform: uppercase;
  }

  .card {
    border: 0;
  }

  img {
    max-width: 300px;
  }

  .card-title {
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    align-self: center;
    //margin-top: -80px;
  }

  .card-subtitle {
    font-size: 1.5em;
  }

  hr {
    width: 50%;
    margin: 2em auto;
    border-top: 4px double #8c8b8b;
    //border: 4px #2E2F30 double;
    //background: #2E2F30;
    //border-bottom: 4px double #333;
    //border-top: 4px double #999;
    //padding: 10px 0;
  }
}

.user-trips {
  width: 80vw;
  opacity: 0.8;
  padding-top: 2em;

  h3 {
    text-align: center;
    padding-bottom: 1em;
  }
}